.finalePage{
    height: 800px;
    width: 100%;
    background-color: rgb(22,21,23);
    padding: 50px 120px;
    display: flex;
}

.leftSide{
    height: 100%;
    width: 50%;
}

.rightSide{
    height: 100%;
    width: 50%;
}

.iso{
    margin-top: 70px;
    height: 4.5rem;
}

.texxtContainer{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.topLeft{
    height: 40%;
    width: 100%;
    display: flex;
}

.bottomLeft{
    height: 60%;
    width: 100%;
    display: flex;
}

.dabaOne{
    height: 100%;
    width: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dabaTwo{
    height: 100%;
    width: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}