.header{
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.676);
    display: flex;
    justify-content: center;
    position:sticky;
}

.innerDiv{
    height: 100%;
    width: 70%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img{
    height: 70%;
    width: 5%;
}

.listContainer{
    height: 100%;
    width: 50%;
    
}

.listContainer ul{
    height: 100%;
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
}